@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
$main-font: 'Montserrat', sans-serif;
$font-size: 15px;

$linear-gradient: linear-gradient(90deg, rgba(163,168,240,1) 0%, rgba(105,111,221,1) 100%);


$gray-light-color: hsl(234, 14%, 74%);
$gray-color: hsl(233, 13%, 49%);
$gray-dark-color: hsl(232, 13%, 33%);

